.wrapper {
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.content {
    gap: 3rem;
    display: grid;
}

.description {
    font-size: 1.6rem;
    border-left: 2px solid var(--primary);
    padding-left: 8px;
    line-height: 1.4;

    &::before {
        content: "";
    }
}

.slide {
    max-width: 100%;
}

.mt-32 {
    margin-top: 32px;
}
