.wrapper {
    padding: 20px 0 8rem;
}

.container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    margin-top: 2rem;
}

.selection {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}

.show {
    flex: 1;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}