@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary: rgb(254, 44, 85);
    --black: #000;
    --night: #0d1117;
    --white: #fff;
    --text-color: #091434;

    --box-shadow: 0px 20px 24px 3px rgba(255, 75, 43, 0.2);
    --filter-shadow: drop-shadow(2px 20px 21px rgba(255, 75, 43, 0.6));
    --filter-shadow-large: drop-shadow(2px 20px 21px rgba(255, 75, 43, 0.8));

    --background-lighter: rgba(254, 44, 85, 0.02);
    --background: rgba(254, 44, 85, 0.05);
    --background-darker: rgba(254, 44, 85, 0.1);
    --background-dark: rgba(254, 44, 85, 0.6);

    --font-family: 'Poppins', sans-serif;

    --header-height: 64px;
}

::selection {
    background: var(--primary);
    color: var(--white);
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overscroll-behavior: none; // Disable scroll behavior in safari
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    touch-action: manipulation;
    -webkit-user-drag: none;
    -ms-content-zooming: none;
}

// Scrollbar css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// Fonts emmbeded
@font-face {
    font-family: Gumela;
    src: url('/assets/fonts/Gumela-Regular.otf');
    font-weight: normal;
}

img {
    object-fit: cover;
    object-position: center;
}

hr {
    height: 2px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    margin: 25px 0;
    border: none;
}

a {
    text-decoration: none;
    color: unset;
}

button {
    user-select: none;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
    font-family: var(--font-family);
}

.button {
    cursor: pointer;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    color: white;
    padding: 9px 18px;
    border: 1px solid transparent;
    transition: all 0.25s linear;
    text-align: center;

    &-primary {
        background: linear-gradient(180deg, var(--primary) 26.71%, #ff4b2b 99.36%);
        color: white;
        transition: all 0.25s linear;
        // font-weight: 400;
        font-size: 1.8rem;
    }

    &-border {
        border-radius: 100rem;
    }

    &-shadow {
        box-shadow: var(--box-shadow);
    }

    &-secondary {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 8px 14px;
        color: white;
        border-radius: 13px;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;

        background-color: #b9bbbe;
        background-image: radial-gradient(circle at center, #caccce 50%, transparent 50%);
        background-repeat: no-repeat;
        transition: background-size 300ms;
        background-size: 0 0;
        background-position: 50% 50%;

        &:hover {
            opacity: 0.8;
        }
    }

    &-primary:hover,
    &:hover {
        background: white;
        cursor: pointer;
        border: 1px solid var(--primary);
        color: var(--primary);
    }
}

.cursor-pointer {
    cursor: pointer;
}

.sub-header {
    font-size: 2rem;
    font-weight: 600;
    font-family: Gumela;

    &-container {
        display: flex;
        align-items: center;
        color: var(--primary);
        padding-bottom: 1rem;

        & > hr {
            width: 40px;
            background-color: var(--primary);
            margin: 0 20px 0 0;
            align-items: center;
        }
    }
}

.title-header {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
}

// Slick
.slick-slide {
    transform: scale(0.8);
    opacity: 0.7;
    filter: grayscale(0.5);
    transition: all 0.25s linear;
    cursor: pointer;

    & > *a {
        pointer-events: none;
    }
}
.slick-center {
    transform: scale(1) !important;
    opacity: 1 !important;
    filter: grayscale(0) !important;
    transition: all 0.25s linear;
    cursor: default;

    & > *a {
        pointer-events: all;
    }
}

.slick-center .slick-slide {
    cursor: default;
}

// để khi scroll into view không che mất navigation
.slick-initialized .slick-slide {
    padding-bottom: 120px;
}

// Swiper
.swiper-slide {
    width: 100%;
}

.active-selection {
    background: linear-gradient(135deg, rgb(250, 189, 243), rgb(255, 85, 232), rgb(253, 223, 250));
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px,
        rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}

// Tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .button {
        padding: 4px 8px;
    }
}

// Mobile
@media only screen and (max-width: 739px) {
    .button {
        padding: 4px 8px;
    }
    .title-header {
        font-size: 4rem;
        text-align: center;
    }
}
