.wrapper {
    position: relative;
}

.arr {
    border: 1px solid #fff !important;
    padding: 100px;
    display: block;
    font-size: 3rem;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;

    // fix scroll into view
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.btn {
    border-radius: 1000rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    border: 1px solid transparent;
}

.arrow-icon {
    width: 28px;
    height: 28px;
}