.wrapper {
    padding: 4rem 0 0 0;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    transition: all 0.5s linear;

    // fix scroll into view
    position: relative;

    &::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }
}

.container > hr {
    width: 40px;
    background-color: #FF923E;
    margin: 0;
    margin-right: 20px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;

    // fix scroll into view
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.btn {
    border-radius: 1000rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    border: 1px solid transparent;
}

.arrow-icon {
    width: 28px;
    height: 28px;
}

// Tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    // .navigation {
    //     display: none;
    // }
}

// Mobile
@media only screen and (max-width: 739px) {
    // .navigation {
    //     display: none;
    // }
}
