.wrapper {
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.slide {
    max-width: 100%;
}

.mt-32 {
    margin-top: 32px;
}

// Mobile
@media only screen and (max-width: 739px) {
    .wrapper {
        padding: 16px;
    }
    .title {
        font-size: 1.8rem;
    }
}