.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    position: relative;
    z-index: 10;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    font-family: Gumela;
    font-weight: 600;
    font-size: 2.4rem;
    margin-right: 28px;
}

.menu {
    display: flex;
    align-items: center;
    &-list {
        display: flex;
        align-items: center;
    }
    &-item {
        list-style-type: none;
        font-size: 1.8rem;
        padding: 0 20px;
        font-weight: 500;
        cursor: pointer;
        &:hover {
            color: var(--primary);
        }
    }
}

.button {
    margin-left: 4rem;
}

@media only screen and (max-width: 739px) {
    .wrapper {
        border-bottom: 1px solid #333;
    }
    .menu-list {
        display: none;
    }
    .left {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        border-bottom: 1px solid #333;
    }
}