.wrapper {
    display: flex;
    align-items: stretch;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-title {
        display: flex;
        flex-direction: column;
        font-size: 6rem;
        font-weight: 700;
        line-height: 7.2rem;
    }
    &-name {
        color: var(--primary);
    }
    &-desc {
        font-size: 20px;
        padding: 30px 0;
    }
}

.image {
    flex: 1;
}

.icons {
    gap: 40px;
    display: flex;
    margin-top: 8rem;
}

.icon {
    font-size: 4.5rem;
    color: var(--primary);

    &:hover {
        opacity: 0.8;
    }
}

.button {
    max-width: 200px;
}

.fill-shadow {
    filter: var(--filter-shadow);
}

.fill-shadow-large {
    filter: var(--filter-shadow-large);
}

@media only screen and (max-width: 1024px) {
    // .wrapper {
    // }
    .intro {
        &-name,
        &-hello {
            font-size: 4.5rem;
        }
        &-desc {
            font-size: 1.8rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .intro {
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        
    }
}
